* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #030104;
    color: ivory;
}

header {
    background-color: #1A1E23;
    position: -webkit-sticky;
    position: sticky;
    color: #396F79;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    top: 0;
    flex-wrap: nowrap;
    padding: 5px;
}

header h1 {
    font-weight: bold;
    font-size: 34px;
    margin-top: 5px;
}

header nav {
    margin: 7px 0;   
    width: 80%;    
}
header nav ul {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 3px;
    font-size: 2vw; 
}

nav ul li a {
    text-decoration: none;
    color: #396F79;
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
    display:flex;
}

nav ul li a:hover {
    text-decoration: none;
    color: #396F79;
    font-size: 2.1vw;
    border-left: 2px solid #396F79;
    padding-left: 2px;
    
}

/*header end*/

/*Hero banner section*/

.hero {
    background-image: url("../images/pink-blue.jpg");
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% ;
    display: flex;
}

.quote {
    background-color: #396F79;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: 5px;
    
}
/*end hero banner*/

/*About Me*/
.card {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.tab {
    border-right: 5px solid #024A48;
    width: 20%;
}

.tab h2 {
    text-align: right;
    padding-right: 10px
}

.center {
    width: 80%;
    display: flex;
    padding: 10px;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.text {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.3;
}

/*Begin About Me section*/



/*Begin projects section*/

.project {
    min-width: 250px;
    min-height: 200px;
    border: 5px solid #024A48;
    background-color: darkgray;
    margin: 5px;
    background-size: cover;
    display: flex;
    opacity: 0.75;
}

.project div {
    background-color: #048B87;
    color:black;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 5px;
    z-index: 5;
    opacity: 1;

}

.project:hover {
    opacity: 1;
    z-index: 5;
}

.project p {
    font-size: 14px;
}

.project a {
    text-decoration: none;
    
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project:first-child {
    width: 80%; 
}

.picture {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: scale-down;
}

.run {
    background-image: url("../images/hero-bg.jpg");
}

.comp {
    background-image: url("../images/computer.jpg");
    background-size: cover;
}

.horiseon {
    background-image: url("../images/seo.jpg");
    
}

.wtf {
    background-image: url("../images/fret.jpg");
}

.pastPic {
    background-image: url("../images/earthphoto.avif");
    background-position: 50% ;
}

.center a {
    text-decoration: none;
    color:#396F79;
}


@media screen and (max-width: 980px) {
    
    header h1 {
        font-size: 30px;
        margin-top: 5px;
        text-align: center;
    }
    
    nav ul li a {
       justify-content: space-between;
    }

    nav ul li a:hover {
        width: 100%;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 768px) {
    
    header h1 {
        font-size: 28px;
    }
    
    nav ul li a:hover {
        border: none;
        font-size: 16px;
    }
    
}

@media screen and (max-width: 575px) {
    
    header {
        padding: 0;
        height: 12vh;
        width: 100%;
    }
    
    header h1 {
        display: none;
        flex: 0;
    }

    nav {
        width: 100%;
    }

    nav  ul li a{
        width: 100%;
        font-size: 3vh; 
    }

    nav ul li a:hover {
        width: 100%;
        border: none;
        font-size: 16px;
    }

    .hero {
        width: auto;
    }

    .quote {
        font-size: 2vh;
    }

    .tab h2 {
        font-size: 2vh;
    } 
}